.first-scrin {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #EEEEEE;
  height: 250px;
}

.content-catalog {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  padding: 55px 0;
}
aside {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:48px;
}
.price {
    display: flex;
    flex-direction: column;
    gap:14px;
}
.price_point {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 80px;
    background: #EEEEEE;
    border-radius: 3px;
}
.longline {
    position: relative;
    width: 205px;
    height: 2px;
    background: #D7DCDF;
}
.shortline {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 138px;
    height: 2px;
    background: #00CA74;
}
.circl {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background: #FFFFFF;
    box-shadow: 0px 2px 1px 0px  #00000026;
}
.price_input {
    display: flex;
    gap: 32px;
}
.text-for-characteristic {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
}
.cell-price {
    width: 80px;
    height: 38px;
    border-radius: 3px;
    background: #EEEEEE;
    margin-left: 11px;
    text-align: center;
}
.layout {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.text-aside {
    font-size: 16px;
    color: #283136;
}
.layout_choice {
    transform: scale(1.4);  
    margin-right: 8px;     
    cursor: pointer;
}


.shablon {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-size: 14px;
    text-transform: uppercase;
    color: #595e61;
}
.shablon_sorting {
    display: flex;
    justify-content: space-between;
}
.sorting-by {
    display: flex;
    gap: 25px;
}

.text-sorting-bold {
    color: #000000;
    font-weight: bold;
}
.arrow-direction {
    width: 14px;
    height: 14px;
}
.shablon_work {
    display: flex;
    flex-wrap: wrap;
    max-width: 758px;
    gap: 42px;
}
.present-work {
    max-width: 358px;
    max-height: 620px;
}
.shablon_nav {
    display: flex;
    justify-content: flex-start;
    gap: 11px;
}
.pages-numbers {
    padding: 20px 22px;
    background: #EEEEEE;
    border-radius: 3px;
}
.pages-numbers-chek {
    padding: 18px 20px;
    background: #fff;
    border: 3px solid #eeeeee;
    border-radius: 3px;
}