/*Перший екран*/
.first-scrin {
    display: flex;
    padding: 78px 140px 0 140px;
    background: #EEEEEE;
}
.main-img {
    width: 760px;
    height: 431px;
}
.first-scrin_text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
}

.content {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 80px 140px 80px 140px;
    gap: 80px;
}
.product {
     display: flex;
     justify-content: space-between;
     gap: 100px;
}
.product_card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 300px;
}
.about {
    display: flex;
    justify-content: space-between;
    gap: 140px;
}
.about_text {
    flex: 2;
}
.about_rating {
    flex: 1;
}

.about_list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.list-text {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-bottom: 40px;
}

.list-text::before {
    content: "";
    width: 25px;
    height: 2px;
    background: red;
    display: inline-block;
    flex-shrink: 0;
}
.about_numbers {
    display: flex;
    justify-content: space-between;
    padding-top: 34px;
    gap: 22px;
}
.numbers {
    font-size: 45px;
    font-weight: 700;
    line-height: 64px;
}
.worked-with {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 45px;
}
.vert-line {
  width: 2px;
  height: 52px;
  background: #EEEEEE;
  border: none;
  margin: 0 16px;
}
hr {
  border: none;
  height: 2px;
  background-color: #EEEEEE;
  margin: 24px 0;
}
.img-worked  {
    max-width: 209px;
    
}